package logica.dao;


/**
 * @author jonatan
 * 
 * Hacer una compia de este archivo como .java
 * y ponerle los datos de conexion de su base de datos.
 * No incluya el nuevo archivo al svn!!
 *
 */
public class ConfigDB {

	//please, change the following attr according to your MSSQLServer connection
	public static String USER = "user";
	public static String PASS= "secret";
	public static String DEFAULT_DB = "defaultdb";
	public static String IP = "serverip";

}
